$white-color: #fff;
$black-color: #000;
$text-color: #333333ab;
$color-orange: #f84c2f;
// gird
// background
$gradient: linear-gradient(#f6422d, #fc5931);
@keyframes facein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}