// @import "/base.scss";
@import "base";
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.gird {
    width: 1125px;
    margin: 0 auto;
}

header {
    height: 120px;
    background-image: $gradient;
}

.hd {
    display: flex;
    justify-content: space-between;
}

.hd-left,
.hd-right {
    list-style: none;
    display: flex;
    padding: 0;
    margin-top: 8px;
}

header ul li a {
    text-decoration: none;
    color: $white-color;
    margin: 0 5px;
    font-size: 1.4rem;
}

header ul li a:hover {
    color: #e0dbda;
}

// header search
.hd-search {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
    margin-top: 10px;
    margin-left: 4px;
}

.logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
}

.input-search {
    position: relative;
    height: 40px;
    flex: 1;
    display: flex;
    align-items: center;
}

.input-search input {
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #cccccc5c;
    font-size: 1.4rem;
    padding-left: 10px;
    color: $text-color;
}

.cart {
    width: 150px;
    text-align: center;
}

.cart a {
    color: $white-color;
    font-size: 2.4rem;
}

.btn-search {
    right: 4px;
    position: absolute;
    background-color: #f84c2f;
    padding: 8px 25px;
}

.icon-search {
    color: $white-color;
    font-size: 1.6rem;
}

// home
// list
.list-product {
    width: 200px;
    padding: 0;
    border-radius: 3px;
    border: 1px solid #ccc;
    list-style: none;
    font-size: 1.4rem;
    position: relative;
}

.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $text-color;
    text-decoration: none;
}

.product p {
    flex: 1;
    margin: 0 0 0 8px;
    padding: 0;
}

.product .item {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 8px;
    text-decoration: none;
    color: $text-color;
}

.brand a:hover,
.product .item:hover {
    color: $black-color;
    background-color: #cccccc3b;
}

.brand {
    position: absolute;
    top: -1px;
    padding: 0;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 200px;
    left: 200px;
    list-style: none;
    animation: facein ease-in 0.3s;
    display: none;
}

.brand::before {
    position: absolute;
    display: block;
    content: " ";
    height: 190px;
    width: 3px;
    top: 0px;
    left: -2px;
}

.product:hover .brand {
    display: block;
}

.brand li a {
    text-decoration: none;
    color: $text-color;
    padding: 8px;
}

.brand-item {
    display: flex;
    align-items: center;
}

.brand-item span {
    flex: 1;
}

// phone highlights
.phone-highlights {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $text-color;
}

.phone-highlights a {
    margin: 0;
    font-weight: bold;
    text-decoration: none;
    color: $text-color;
}

.phone-highlights a:hover {
    text-decoration: underline;
}

.brand-highlights {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.brand-highlights li {
    // margin: 0 8px;
}

.brand-highlights li a {
    text-decoration: none;
    color: #333333ab;
    font-size: 1.4rem;
    padding: 9px;
    background-color: #cccccc75;
    margin: 0 2px;
    border-radius: 8px;
    transition: ease-out 0.3s;
}

.brand-highlights li a:hover {
    color: #3333335e;
}

// row list-apple highlights
.list-apple {
    display: flex;
    justify-content: space-evenly;
}

.card-item {
    width: 18rem;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 4px 12px #e0e0e0;
}

.card-item:hover {
    transform: translateY(-10px);
    transition: ease-out 0.3s;
}

.card-outside {
    text-decoration: none;
}

.card-body h3 {
    color: #444444;
    font-size: 1.2rem;
}

.card-body .price-new {
    color: #f84c2f;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.4;
}

// price old
.price-old {
    position: relative;
    float: right;
    color: $text-color;
    font-size: 1.2rem;
}

.price-old:after {
    position: absolute;
    display: block;
    content: "";
    background-color: #3333336e;
    height: 2px;
    width: 68px;
    font-weight: 700;
    top: 9px;
}

// star
.list-star {
    padding: 0;
    margin-left: -2px;
    list-style: none;
    display: flex;
    padding-left: 1rem;
    color: #f59e0b;
}

.list-star li {
    margin: 0 1px;
    font-size: 1rem;
}

.list-star li a i {}

// slider
.slider {
    width: 35%;
    margin-top: 12px;
    width: 35%;
    margin-top: 18px;
    border-radius: 1rem;
    margin-left: -8px;
    border: 1px solid #cccccc73;
    box-shadow: 0 1px 4px #e0e0e0;
}

.carousel,
.carousel-inner {
    border-radius: 1rem;
}

.carousel-item {
    transition: transform 0.3s linear;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
    transition: opacity 0s 0.3s;
}

.carousel-item {
    max-height: 550px;
    border-radius: 1rem;
}

.carousel-item>img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.carousel-indicators {
    border-top: 1px solid #e0e0e0;
}

.carousel-indicators .img-children {
    width: 50px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    padding: 4px;
    margin-top: 15px;
}

.avata_img {
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

// register
.register {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;
}

.register-left {
    text-align: center;
    color: #fff;
    margin-top: 4%;
}

.register-left input {
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}

.register-right {
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}

.register-left img {
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

.register-left p {
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}

.register .register-form {
    padding: 10%;
    margin-top: 10%;
}

.btnRegister {
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}

.register .nav-tabs {
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}

.register .nav-tabs .nav-link {
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.register .nav-tabs .nav-link:hover {
    border: none;
}

.register .nav-tabs .nav-link.active {
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.register-heading {
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}