<div class="mt-4">
    <form style="font-size: 1.4rem;" method="POST" action="/telephone/store">
        <div class="form-group">
            <label for="name" class="form-label">Tên điện thoại</label>
            <input type="text" class="form-control" id="name" name="name">

        </div>
        <div class="form-group">
            <label for="image" class="form-label">Image</label>
            <input type="text" class="form-control" id="image" name="image">

        </div>
        <div class="form-group">
            <label for="price" class="form-label">Price</label>
            <input type="text" class="form-control" id="price" name="price">

        </div>
        <div class="form-group">
            <label for="priceold" class="form-label">PriceOld</label>
            <input type="text" class="form-control" id="priceold" name="priceold">

        </div>
        <div class="form-group">
            <label for="imageinside1" class="form-label">Imageinside1</label>
            <input type="text" class="form-control" id="imageinside1" name="imageinside1">

        </div>
        <div class="form-group">
            <label for="imageinside2" class="form-label">Imageinside2</label>
            <input type="text" class="form-control" id="imageinside2" name="imageinside2">

        </div>
        <div class="form-group">
            <label for="imageinside3" class="form-label">Imageinside3</label>
            <input type="text" class="form-control" id="imageinside3" name="imageinside3">

        </div>

        <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
</div>