@keyframes facein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box; }

.gird {
  width: 1125px;
  margin: 0 auto; }

header {
  height: 120px;
  background-image: linear-gradient(#f6422d, #fc5931); }

.hd {
  display: flex;
  justify-content: space-between; }

.hd-left,
.hd-right {
  list-style: none;
  display: flex;
  padding: 0;
  margin-top: 8px; }

header ul li a {
  text-decoration: none;
  color: #fff;
  margin: 0 5px;
  font-size: 1.4rem; }

header ul li a:hover {
  color: #e0dbda; }

.hd-search {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  margin-top: 10px;
  margin-left: 4px; }

.logo {
  width: 200px; }

.header__logo-img {
  width: 150px; }

.input-search {
  position: relative;
  height: 40px;
  flex: 1;
  display: flex;
  align-items: center; }

.input-search input {
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #cccccc5c;
  font-size: 1.4rem;
  padding-left: 10px;
  color: #333333ab; }

.cart {
  width: 150px;
  text-align: center; }

.cart a {
  color: #fff;
  font-size: 2.4rem; }

.btn-search {
  right: 4px;
  position: absolute;
  background-color: #f84c2f;
  padding: 8px 25px; }

.icon-search {
  color: #fff;
  font-size: 1.6rem; }

.list-product {
  width: 200px;
  padding: 0;
  border-radius: 3px;
  border: 1px solid #ccc;
  list-style: none;
  font-size: 1.4rem;
  position: relative; }

.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333333ab;
  text-decoration: none; }

.product p {
  flex: 1;
  margin: 0 0 0 8px;
  padding: 0; }

.product .item {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 8px;
  text-decoration: none;
  color: #333333ab; }

.brand a:hover,
.product .item:hover {
  color: #000;
  background-color: #cccccc3b; }

.brand {
  position: absolute;
  top: -1px;
  padding: 0;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 200px;
  left: 200px;
  list-style: none;
  animation: facein ease-in 0.3s;
  display: none; }

.brand::before {
  position: absolute;
  display: block;
  content: " ";
  height: 190px;
  width: 3px;
  top: 0px;
  left: -2px; }

.product:hover .brand {
  display: block; }

.brand li a {
  text-decoration: none;
  color: #333333ab;
  padding: 8px; }

.brand-item {
  display: flex;
  align-items: center; }

.brand-item span {
  flex: 1; }

.phone-highlights {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333333ab; }

.phone-highlights h3 {
  margin: 0;
  font-weight: bold; }

.brand-highlights {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0; }

.brand-highlights li a {
  text-decoration: none;
  color: #333333ab;
  font-size: 1.4rem;
  padding: 9px;
  background-color: #cccccc75;
  margin: 0 2px;
  border-radius: 8px;
  transition: ease-out 0.3s; }

.brand-highlights li a:hover {
  color: #3333335e; }
