<header>
    <div class="gird">
        <ul class="hd-left">
            <li><a href="">Kênh người bán</a></li>
            <li><a href="">Trở thành người bán hàng</a></li>
            <li><a href="">Tải ứng dụng</a></li>
            <li><a href="">Kết nối</a></li>
            <li><a href=""><i class="fab fa-facebook"></i></a></li>
            <li><a href=""><i class="fab fa-instagram"></i></a></li>
        </ul>
        <ul class="hd-right">
            <li><a href="">
                    <i class="fas fa-bell"></i>
                    Thông báo
                </a></li>
            <li><a href="">
                    <i class="far fa-question-circle"></i>
                    Hỗ trợ</a>
            </li>
            <li><a href="">Đăng ký</a></li>
            <li><a href="">Đăng nhập</a></li>
        </ul>
    </div>
</header>